# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.pot
*.pyc

# Virtualenv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Docker
.docker/

# pytest
.cache/

# Celery beat schedule file
celerybeat-schedule

# Django migrations
*/migrations/*

# Admin files
admin.pyc


.env

todolist.txt